<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wyszukiwarka planet</title>
</head>

<body>
<h1>Oto znalezione planety:</h1>

<form action="/find-planet" method="post">
    <label>Wybierz typ planet:</label>
    <br>
    <label>Skalna</label>
    <input type="radio" th:field="${request.planetType}" value="ROCK">
    <label>Gazowa</label>
    <input type="radio" th:field="${request.planetType}" value="GAS">
    <br>
    <button type="submit">Filtruj!</button>
    <br>
</form>
<table>
    <tr th:each="planet : ${planets}">
        <th th:text="${planet.name}"></th>
        <th th:text="${planet.population}"></th>
        <!--    planet.name to tak naprawdę planet.getName()-->
    </tr>
</table>
</body>
</html>
